<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Font Awesome 5 -->
    <script
      src="https://kit.fontawesome.com/de7cf715d2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />

    <title>Michel R Morin</title>
  </head>
  <body data-spy="scroll" data-target="#main-nav" id="home">
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"
      id="main-nav"
    >
      <a href="#home" class="navbar-brand">
        <img
          src="/img/michel.jpg"
          class="rounded-circle mr-2 img-fluid"
          alt="Michel Picture"
          width="24"
          height="24"
        />
        <span class="align-middle">Michel R Morin</span></a
      >
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <!-- <li class="nav-item">
            <a href="#portfolio" class="nav-link">Portfolio</a>
          </li> -->
        </ul>
      </div>
    </nav>

    <header id="landing-section">
      <div id="landing-inner" class="text-left d-flex align-items-center">
        <div class="container text-center text-lg-left py-5">
          <img
            src="/img/michel.jpg"
            class="rounded-circle float-lg-left mr-2"
            alt="Michel Picture"
            width="105"
            height="105"
          />
          <h1 class="display-4">
            <!-- Add my picture to the left of name and title below -->
            Michel R Morin
          </h1>
          <p class="text-secondary">
            Software Developement Manager / DevOps Engineer
          </p>
          <hr class="my-4 w-50 ml-lg-0" />
          <a
            href="https://www.linkedin.com/in/michelmorin77"
            target="_blank"
            class="text-dark mr-2"
          >
            <i class="fab fa-2x fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/michelmorin/"
            target="_blank"
            class="text-dark mr-2"
          >
            <i class="fab fa-2x fa-github"></i
          ></a>
          <a
            href="https://facebook.com/michelmorin77"
            target="_blank"
            class="text-dark mr-2"
          >
            <i class="fab fa-2x fa-facebook"></i>
          </a>
          <a
            href="https://twitter.com/MichelMorin77"
            target="_blank"
            class="text-dark mr-2"
          >
            <i class="fab fa-2x fa-twitter"></i>
          </a>
          <a href="mailto:michelmorin77@gmail.com" class="text-dark">
            <i class="fas fa-2x fa-envelope"></i
          ></a>
        </div>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="bg-dark text-light py-5" style="height: 800px;">
      <div class="container">
        <div class="row">
          <div class="col text-left">
            <h1 class="display-4">About</h1>
            <p class="lead">
              Experienced Software Development Manager with a focus on employee growth and bringing developers togethers as a team to solve customer problems. 
              Pride myself on solid development processes following scrum framework and DevOps practices. Prioritize work based on data driven reporting for better decision making. 
              <br><br>
              With an education in Business Administration, an advocate for continuous learning and continuous improvement, being certified in Scrum and AWS solutions Architect, 
              and a strong technical background, I believe I would be a great addition to your company for continuous success
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio -->

    <!-- Add icons of technologies that I really know here in portfolios-->

    <!-- <section id="portfolio" class="bg-white text-dark py-5">
      <div class="container">
        <div class="row">
          <div class="col text-left">
            <h1 class="display-4">Portfolio</h1>
            <p class="lead">
              Here is a list of the various projects I have worked with live demo to highlight my skills
            </p>
            <div class="card-columns">
              <div class="card">
                <img src="/img/bowlingscoresheet.jpg" alt="" class="img-fluid card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Bowling Score Sheet</h4>
                  <small class="text-muted">Updated in 2020</small>
                  <hr>
                  <p class="card-text">This is app for 5-pin bowling score sheet. The purpose is to use 
                    this on Ipads in bowling centres that don't havev computer scoring.
                  </p>
                </div>
              </div> -->

              <!-- <div class="card">
                <img src="/img/bowlingapp.jpg" alt="" class="img-fluid card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Bowling App</h4>
                  <small class="text-muted">Updated in 2020</small>
                  <hr>
                  <p class="card-text">This is a web application used to keep history of your scores played in 
                    practice, League and tournament
                  </p>
                </div>
              </div>

              <div class="card">
                <img src="https://source.unsplash.com/random/302x200" alt="" class="img-fluid card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Blog Post Three</h4>
                  <small class="text-muted">Written by Harry on 05/23</small>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                    exercitationem.
                  </p>
                </div>
              </div>

              <div class="card">
                <img src="https://source.unsplash.com/random/300x200" alt="" class="img-fluid card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Blog Post One</h4>
                  <small class="text-muted">Written by Jeff on 05/20</small>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                    exercitationem.
                  </p>
                </div>
              </div>

              <div class="card">
                <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Blog Post Two</h4>
                  <small class="text-muted">Written by Karen on 05/22</small>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                    exercitationem.
                  </p>
                </div>
              </div>

              <div class="card">
                <img src="https://source.unsplash.com/random/302x200" alt="" class="img-fluid card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Blog Post Three</h4>
                  <small class="text-muted">Written by Harry on 05/23</small>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                    exercitationem.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Footer -->
    <footer id="footer" class="bg-primary text-light"">
      <div class="container">
        <div class="row">
          <div class="col text-center py-4">
            <!-- <h3>Footer</h3> -->
            <p>
              Copyright &copy;
              <span id="year"></span>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      // Get the current year for the copyright
      $('#year').text(new Date().getFullYear());

      // Init Scrollspy
      $('body').scrollspy({ target: '#main-nav' });

      // Smooth Scrolling
      $('#main-nav a').on('click', function (event) {
        if (this.hash !== '') {
          event.preventDefault();

          const hash = this.hash;

          $('html, body').animate(
            {
              scrollTop: $(hash).offset().top,
            },
            800,
            function () {
              window.location.hash = hash;
            }
          );
        }
      });
    </script>
  </body>
</html>
