<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Font Awesome 5 -->
    <script
      src="https://kit.fontawesome.com/de7cf715d2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />

    <title>Michel R Morin</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <img
        src="img/michel.jpg"
        class="nav-brand rounded-circle mr-2"
        alt="Michel Picture"
        width="24"
        height="24"
      />
      <span class="text-light d-none d-lg-block">Michel R Morin</span>
      <ul class="navbar-nav mr-auto"></ul>
      <a href="#" class="text-light mr-4">Portfolio</a>
      <a href="#" class="text-light mr-4"> About</a>
      <a href="#" class="text-light"> Contact</a>
    </nav>

    <div class="jumbotron jumbotron-fluid text-left d-flex align-items-center">
      <div class="container text-center text-lg-left">
        <img
          src="img/michel.jpg"
          class="rounded-circle float-lg-left mr-2"
          alt="Michel Picture"
          width="105"
          height="105"
        />
        <h1 class="display-4">
          <!-- Add my picture to the left of name and title below -->
          Michel R Morin
        </h1>
        <p class="text-secondary">
          Software Developer / Release Management
        </p>
        <hr class="my-4 w-50 ml-lg-0" />
        <a
          href="https://www.linkedin.com/in/michelmorin77"
          target="_blank"
          class="text-dark mr-2"
        >
          <i class="fab fa-2x fa-linkedin"></i
        ></a>
        <a
          href="https://github.com/michelmorin/"
          target="_blank"
          class="text-dark mr-2"
        >
          <i class="fab fa-2x fa-github"></i
        ></a>
        <a
          href="https://facebook.com/michelmorin77"
          target="_blank"
          class="text-dark mr-2"
        >
          <i class="fab fa-2x fa-facebook"></i>
        </a>
        <a
          href="https://twitter.com/MichelMorin77"
          target="_blank"
          class="text-dark mr-2"
        >
          <i class="fab fa-2x fa-twitter"></i>
        </a>
        <a href="mailto:michelmorin77@gmail.com" class="text-dark">
          <i class="fas fa-2x fa-envelope"></i
        ></a>
        <!-- <p class="text-justify w-50">
          I currently work at Persistent Systems working on the
          <a
            class="text-dark font-weight-bold"
            href="https://jazz.net"
            target="_blank"
            >Engineering Lifecycle Management</a
          >
          products. I am passionate about simplifying task, user experience,
          quality software deliverables, and well defined continuous delivery
          processes.
        </p> -->
      </div>
    </div>

    <!-- Add icons of technology that I really know, spaced out in a row to display -->

    <!-- <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img
              src="https://placeimg.com/150/100/tech"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img
              src="https://placeimg.com/150/100/tech"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img
              src="https://placeimg.com/150/100/tech"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img
              src="https://placeimg.com/150/100/tech"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
